$col-bg: #f5f2e8;
$col-hl-dark-blue: #27418c;
$col-hl-light-blue: #C8DAEF;
$col-hl-dark-green: #428774;
$col-hl-light-green: #97B6AA;
$col-hl-red: #D1BCC2;

body {
  font-family: Georgia, serif;
  background-color: $col-bg;
}

h1 {
  color: $col-hl-dark-blue;
}
