html {
  background-image: url('./img/bg-marble.jpg');
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;

  font-family: 'Roboto', serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: MrsEaves;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .06em;

  width: 100%;
  color: rgba(0, 0, 0, .6);
  margin-bottom: 0;
}

@media screen and (max-width: 720px) {
  h1 {
    box-sizing: border-box;
    font-size: 30px;
    padding: 0 30px 0 60px;
  }

  #nav.open {
    display: flex;
  }

  #nav.open #links {
    min-width: 305px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    text-align: right;
  }
}

.container {
  padding: 0 40px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 32px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cell {
  flex-basis: 40vw;
  min-width: 300px;
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, .5);
  color: lightgray;

  padding-bottom: 5px;
  text-align: left;
  margin: 10px;
}

.cell p {
  margin: 10px 15px;
}

.cell img {
  width: 100%;
  filter: grayscale(80%);
}

.cell:hover img {
  filter: none;
}

.name {
  font-size: 22px;
  color: white;
  margin-right: 4px;
}

.blurb {
  font-size: 14px;
  letter-spacing: .03em;
}