@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html {
  background-image: url('./img/bg-marble.jpg');
  text-align: center;
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;

  font-family: 'Fjalla One', serif;
}

h1 {
  margin: 30px auto 32px auto;
  font-size: 50px;
  font-family: MrsEaves;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .06em;

  width: 80vw;
  color: rgba(0, 0, 0, .6);
  max-width: 800px;
}

.row {
  width: 80vw;
  max-width: 800px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 32px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.cell {
  width: calc(40vw - 16px);
  max-width: 384px;

  background-color: rgba(0, 0, 0, .5);
  color: lightgray;

  padding-bottom: 5px;
  text-align: left;
}

.cell p {
  margin: 10px 15px;
}

.cell img {
  width: 100%;
  filter: grayscale(80%);
}

.cell:hover img {
  filter: none;
}

.name {
  font-size: 26px;
  color: white;
}

.blurb {
  font-size: 16px;
  letter-spacing: .03em;
}