body {
  font-family: "Roboto", sans-serif;
}

:root {
  --hl-color: #4a7292;
}

#nav {
  position: absolute;
}

.logo > table {
  font-size: calc(32px + 4vh);
}

.logo a {
  text-decoration: none;
}

.logo .hl {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--hl-color);
}

.title {
  margin-top: 0;
  height: 100%;
  min-height: 100vh;
}

.title h1 {
  font-size: 6vh;
}

.reservation > .panel {
  width: 12em;
  font-size: 28px;
  min-width: 30vw;
  max-width: 95vw;
  margin-bottom: 2em;
}

#success {
  text-shadow: .05em .05em .05em var(--hl-color);
  background-color: rgba(255, 255, 255, .7);
  padding: .5em 0;
}

@media
screen and (max-width: 400px) {
  .reservation > * {
    font-size: 24px;
  }
}

.reservation input, .reservation button, .reservation textarea {
  font-size: inherit;
  line-height: inherit;
}

.reservation .name {
  border-bottom: 1px solid grey;
  margin-bottom: .4em;
}

.reservation .rsvp {
  font-size: 75%;
}

.reservation .rsvp > * {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.reservation .rsvp .coming {
  margin-bottom: .7em;
}

.rsvp .answer {
  flex-grow: .2;
}

.rsvp .answer > label, .rsvp .answer > div {
  text-align: left;
  margin-bottom: .3em;
}

.rsvp label {
  display: block;
  width: fit-content;
}

.rsvp .dietary {
  margin-left: 1.2em;
  text-align: left;
}

.rsvp .dietary textarea {
  font-family: inherit;
  width: 9em;
}

.rsvp .dietary > button {
  display: inline;
  background-color: #afafaf;
  width: fit-content;

  border: 1px solid black;
}

.rsvp .dietary > button.hidden {
  display: none;
}

.reservation button.hidden {
  display: none;
}

#reservation-error, .reservation input[type=text], .reservation button {
  margin-bottom: 1vh;
}

#reservation-error {
  color: #e91e63;
  background-color: rgba(255, 255, 255, .7);
  font-size: 75%;
  padding: .2em 0;
}

.reservation input[type=text], .reservation button {
  display: block;
  text-align: center;
  font-family: inherit;
  border: none;
  width: 100%;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

input[type="radio"] + label {
  cursor: pointer;
}

input[type="radio"] + label::before {
  content       : '✓';
  display       : inline-block;
  width         : 1em;
  color         : rgba(0,0,0,0);
  font-size     : .8em;
  line-height   : 1em;
  font-weight   : bold;
  margin        : .25em;
  border-bottom : .05em solid black;
  vertical-align: middle;
}

input[type="radio"]:checked + label::before {
  color: var(--hl-color);
}

input[type="radio"]:checked + label {
  text-shadow: 1px 1px 1px var(--hl-color);
}

input {
  background-color: rgba(255, 255, 255, .7);
}

input:focus {
  outline-color: var(--hl-color);
  background-color: rgba(255, 255, 255, .9);
}

button[disabled] {
  background-color: lightgrey;
}

button {
  background-color: var(--hl-color);
  cursor: pointer;
}

.email-container,
.guest {
  background-color: rgba(255, 255, 255, .7);
  margin-bottom: .5em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
  padding: .3em;
}

.email-container,
.guest.visible {
  max-height: 12em;
}

.reservation input[type=text].hidden {
  display: none;
}

.help {
  background-color: rgba(255, 255, 255, .7);
  padding: 10px;
}