#map {
  height: 70%;
}

.timeline {
  height: 30%;
}

.line {
  width: 100%;
  background-color: grey;
  height: 5px;
}

.event-connector {
  margin-left: 30px;
  width: 1px;
  height: 30px;
  border-left: 1px solid grey;
}

.event {
  margin-left: 30px;
  width: fit-content;
  border: 1px solid grey;
  text-align: center;
  padding: 4px;
}
