@font-face {
  font-family: "bombshell";
  src: url("./fonts/bombshell.woff2") format("woff2"),
    url("./fonts/bombshell.ttf") format("truetype");
}

@font-face {
  font-family: "MrsEaves";
  src: url("./fonts/mrseaves.ttf") format("truetype");
}

body {
  margin: 0;
}

.nav {
  margin-top: 1vh;
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 800;
  font-family: Georgia, serif;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}
