@font-face {
  font-family: "bombshell";
  src: url("./fonts/bombshell.woff2") format("woff2"),
    url("./fonts/bombshell.ttf") format("truetype");
}

@font-face {
  font-family: "MrsEaves";
  src: url("./fonts/mrseaves.ttf") format("truetype");
}

body {
  margin: 0;
}

.nav {
  margin-top: 1vh;
  position: fixed;
  top: 5px;
  right: 10px;
}

.nav button {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0! important;
  font: inherit;
  cursor: pointer;
  outline: inherit !important;
}

#links {
  display: none;
  position: absolute;
  top: 0;
  right: 0;

  background-color: white;
  padding: 10px 20px;
}

#links.show {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
}

#links a {
  display: block;
  width: max-content;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}
